<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/businesses">Businesses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/orders">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/admins">Admins</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-danger" href="/admin/logout">Logout</a>
  </li>
</ul> 